.App {
  text-align: center;
}

/* Navigation Bar Styles */

.NavBar ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.Nav-link {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  padding: 10%;
}

.Nav-link:hover {
  background-color: grey;
}
