:root {
  --sand: #fff8d4;
  --sea: #065e75;
  --orange: #ff6347;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#about,
#projects {
  background: var(--sand);
  position: relative;
  z-index: 100;
}



/* Home Page */
#home {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--sand);
  z-index: 1;
}

.intro-image {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 25%;
  justify-content: space-evenly;
  width: 100%;
}

.intro,
.image {
  margin: 3vw 3vw;
}

.intro {
  position: relative;
  top: 10%;
}

.intro-name p,
.intro-description .static-txt,
.intro-description .dynamic-txt {
  font-size: 4.5vw;
  margin: 0;
}

.intro-description {
  display: inline-flex;
}

.intro-description .dynamic-txt {
  margin-left: 1.5vw;
  color: var(--orange);
}

.dynamic-txt {
  position: relative;
}

.dynamic-txt::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--sand);
  border-left: 2px solid;
  animation: typing 4s steps(14, end) infinite, blink 2s step-end infinite;
}

@keyframes typing {
  0% {
    left: 0;
    width: 100%;
  }
  40% {
    left: 100%;
    width: 20%;
  }
  100% {
    left: 100%;
    width: 0%;
    margin-left: 1px;
  }
}

@keyframes blink {
  70% {
    border-color: transparent;
  }
}

.image img {
  display: inline;
  width: 100%;
  height: 100%;
  z-index: 6;
  object-fit: cover;
  transform: scale(1.5);
  margin-top: -30px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform: scale(1.3);
  overflow: hidden;
}



.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 35%;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg);
  background-size: cover;
  animation: animate 10s ease-in-out infinite;
  animation-delay: calc(var(--i) * 0.25s);
}

.wave#wave1 {
  z-index: 1;
  background-position-x: 800px;
}

.wave#wave2 {
  z-index: 1;
  background-position-x: 400px;
}

.wave#wave3 {
  z-index: 1;
  background-position-x: 600px;
}

.wave#wave4 {
  z-index: 1;
  background-position-x: 200px;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(40%);
  }
}

/* Navigation Bar Styles */
#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background: var(--sand);
  width: 100vw;
}

#navbar ul {
  padding: 1% 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 3%;
  justify-content: center;
}

#navbar li {
  margin: 1% 2%;
  transition: 0.3s ease;
}

#navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: 0.3s ease;
}

#navbar li:hover {
  transform: scale(1.5);
}

#navbar a:hover {
  color: var(--orange);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* About Page */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about h1 {
  margin: 0;
  padding: 3% 0;
  background-image: linear-gradient(45deg,var(--orange) , var(--sea));
  color: transparent;
  background-clip: text;
}

.about-description {
  width: 56%;
  
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.skills-carousel {
  overflow: hidden;
  margin: 3% 2%;
  white-space: nowrap;
}

.skills-slider {
  display: inline-block;
  width: 100%;
  animation: 15s slide infinite linear;
}

.skill {
  display: inline;
  margin: 0 2%;
  transition: 0.3s ease;
}

.skill:hover {
  color: orange;
}


/* Projects Page */
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#projects h1 {
  margin: 0;
  padding: 3% 0;
  background-image: linear-gradient(45deg,var(--orange) , var(--sea));
  color: transparent;
  background-clip: text;
}

/* Responsiveness */
@media only screen and (max-width: 600px) {
  .intro-image {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0%;
  }
  .intro, .image {
    position: static;
    margin: 2%;
  }
  .intro-name p{
    text-align: center;
  }
  .image{
    transform: scale(1);
  }
}